<!-- <video id="localStream" style="margin-right:100% " width="200" height="500" controls></video>
<br /><br />
<input id="mycall" >
<button id="buttoncall">click</button>

<video id="remoteStream" width="100%" height="100%"  controls></video>
<br /><br /> -->

<div id="element-to-record" style="width:100%;height:100%;background:green;">
        <input id="mycall" >
<button id="buttoncall">click</button>
<div class="well">
        <!-- <video class='userVideo' id="localStream" controls></video> -->
        <video id='remoteStream' controls></video>

        
</div>
     <div>
            <label id="percentage">0%</label>
            <progress id="progress-bar" value=0></progress><br />
        </div>
            
        <hr />

        <div>
            <button id="btn-start-recording">Start Recording</button>
            <button id="btn-stop-recording" >Stop Recording</button>
            <button id="btn-screen-sharing" >Share screen</button>
        </div></div>
        <footer style="width:100%;position: fixed; right: 0; text-align: center;color:red;">
                <h2 id="footer-h2"></h2>