<div class="container">
        <h1 class="welcome text-center">Welcome <br>{{survey.data}} </h1>
            <div class="card card-container">
            <h2 class='login_title text-center'>Login</h2>
            <hr>
    
                <form class="form-signin">
                    <span id="reauth-email" class="reauth-email" ></span>
                    <p class="input_title">UserID</p>
                    <input type="text" id="inputEmail" ng-model="signup.userID" class="login_box" placeholder="user01@IceCode.com" required autofocus>
                    
                    
                       
                    </div>
                    <button class="btn btn-lg btn-primary" type="submit" ng-click="signup.clicking()">Login</button>
                </form><!-- /form -->
            </div><!-- /card-container -->
        </div><!-- /container -->